<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="Keywords" content="{{ page.keywords }}"/>
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico.png" type="image/x-icon" />

  <link href="{{ site.baseurl }}/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="{{ site.baseurl }}/assets/css/styles.css" rel="stylesheet" type="text/css" />
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
<body>

  <a name="anchortop" id="anchortop"></a>

  <div class="container">

    {% include header.html %}

    <div class="row site-content">

      <div class="maincontent">

        <div class="js-widget widget" data-breakpoint="mobile"></div>

        {{ content }}

      </div>

      <div class="leftnav">

      </div>

    </div>

  </div>

  {% include footer.html %}

</body>
</html>
